<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="KYLES-lAPTOP"/>
		<add key="Database" value="QLDTHOAI"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		<add key="isPasswordRemmembered" value="0"/>
	</appSettings>
</configuration>